.hero {
  background-image: url('//res.cloudinary.com/hfnywmsw0/image/upload/w_1200/shops-app-hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 400px;
}
