<div class="container">
  <div class="row">
    <div class="offset-xl-1 col-xl-10">
      <form name="itemForm" input-feedback>
        <div class="row">
          <div class="col-sm-4">
            <img src="//placehold.it/500x375" class="full rounded img-fluid offset-bottom" alt="">
          </div>
          <div class="col-sm-8">
              <div class="form-group row" feedback-for="title">
                <label for="title" class="col-md-2 col-form-label">Title</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="title" ng-model="edit.item.title" required>
                </div>
              </div>
              <div class="form-group row" feedback-for="materials">
                <label for="materials" class="col-md-2 col-form-label">Materials</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="materials" ng-model="edit.item.materials" ng-list required>
                  <small class="form-text text-muted">Comma separated list of materials.</small>
                </div>
              </div>
              <div class="form-group row" feedback-for="tags">
                <label for="tags" class="col-md-2 col-form-label">Tags</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="tags" ng-model="edit.item.tags" ng-list required>
                  <small class="form-text text-muted">Comma separated list of tags.</small>
                </div>
              </div>
              <div class="form-group row" feedback-for="price">
                <label for="price" class="col-md-2 col-form-label">Price ($)</label>
                <div class="col-md-10">
                  <input class="form-control" type="number" name="price" step=".01" ng-model="edit.item.price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                  <small class="form-text text-muted">Numbers ony.</small>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" feedback-for="description">
              <label for="description">Description</label>
              <textarea class="form-control" name="description" rows="16" ng-model="edit.item.description" required></textarea>
                <small class="form-text text-muted">*Note: All fields are required.</small>
            </div>
          </div>
        </div>
        <div class="row offset-bottom" ng-show="edit.message.status && itemForm.$pristine">
          <div class="col-xs-12">
            <div class="form-group">
              <div class="alert alert-{{ edit.message.status }}" role="alert">
                {{ edit.message.phrase }} <a ui-sref="Shop.Item({ shopName: edit.item.shopName, itemId: edit.item._id })">View item.</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span>
              <button class="btn btn-primary" type="button" name="button" ng-click="edit.save()" ng-disabled="itemForm.$invalid">Save</button>
              <button class="btn btn-secondary" type="button" name="button" ng-click="edit.cancel()">Cancel</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
