<div class="container">
  <div class="row">
    <div class="offset-xl-1 col-xl-10">
      <form name="itemForm" input-feedback>
        <div class="row">
          <div class="col-sm-4">
            <img src="//placehold.it/500x375" class="full rounded img-fluid offset-bottom" alt="">
            <button class="mx-auto d-block btn btn-secondary" type="button" name="button" disabled>Choose Image</button>
          </div>
          <div class="col-sm-8">
              <div class="form-group row" has-feedback="title">
                <label for="title" class="col-md-2 col-form-label">Title</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="title" ng-model="edit.item.title" required>
                </div>
              </div>
              <div class="form-group row" has-feedback="materials">
                <label for="materials" class="col-md-2 col-form-label">Materials</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="materials" ng-model="edit.item.materials" ng-list required>
                </div>
              </div>
              <div class="form-group row" has-feedback="tags">
                <label for="tags" class="col-md-2 col-form-label">Tags</label>
                <div class="col-md-10">
                  <input class="form-control" type="text" name="tags" ng-model="edit.item.tags" ng-list required>
                </div>
              </div>
              <div class="form-group row" has-feedback="price">
                <label for="price" class="col-md-2 col-form-label">Price ($)</label>
                <div class="col-md-10">
                  <input class="form-control" type="number" name="price" step=".01" ng-model="edit.item.price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group" has-feedback="description">
              <label for="description">Description</label>
              <textarea class="form-control" name="description" rows="16" ng-model="edit.item.description" required></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span>
              <button class="btn btn-primary" type="button" name="button" ng-click="edit.save()" ng-disabled="itemForm.$invalid || itemForm.$pristine">Save</button>
              <button class="btn btn-secondary" type="button" name="button" ng-click="edit.cancel()">Cancel</button>
            </span>
            <span class="float-xs-right">
              <button class="btn btn-danger" type="button" name="button">Delete Item</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
